<div class="row">
  <div class="twelve columns grey center">
  Editing selected article: Article #<%= @article.id %>
  </div>
</div>

<div class="row">
  <div class="twelve columns grey center">
    <%= form_for @article do |f| %>
      <%= f.label :id %>
      <%= @article.id %>
      <br /><br />    
      <%= f.label :created_at %>
      <%= @article.created_at %><br /><br />
      <%= f.label :updated_at %>
      <%= @article.updated_at %>
      <%= f.label :title %>
      <%= f.text_field :title %><br /><br />
      <%= f.label :description %>
      <%= f.text_area :description %>
      <%= f.submit %>
	<% end %>

    <%= render 'form' %>
  </div>
</div>
