<div class="row">
  <div class="twelve columns grey center"><h2>Technical index of all articles</h2></div>
</div>
<div class="row">
  <div class="twelve columns grey center"><%= link_to 'Create a new article', new_article_path %></div>
</div>

<% @articles.each do |x| %>

<div class="row">
  <div class="one columns grey center">
    <%= x.id %><br />
    <%= link_to 'Show', article_path(x.id) %><br />
    <%= link_to 'Edit', edit_article_path(x.id) %>
  </div>
  <div class="two columns grey center">
    Title<br />
    <%= x.title %><br />
    <%= link_to 'Delete Article', article_path(x), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
  <div class="three columns grey center">
    Description<br />
    <%= x.description %>
  </div>
  <div class="two columns grey center">
    Created By<br />
    <%= x.user.username if x.user %>
  </div>
  <div class="two columns grey center">
    Created<br />
    <%= time_ago_in_words(x.created_at) %> ago
  </div>
  <div class="two columns grey center">
    Edited<br />
    <%= time_ago_in_words(x.updated_at) %> ago
  </div>
</div>

<% end %>

<div class="row">
  <div class="twelve columns grey center">
    <%= will_paginate %>
  </div>
</div>


