<div class="row">
  <div class="twelve columns grey center">
    <h3>Creating new article</h3>
  </div>
</div>

<div class="row">
  <div class="twelve columns grey center">
    <%= form_for @article do |f| %> 
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <%= f.submit %>
    <% end %>

    <%= render 'form' %>
  </div>
</div>