<div class="row">
  <div class="twelve columns grey center">
    <h3>Creating new article</h3>
  </div>
</div>

<div class="row">
  <div class="twelve columns grey center">
    <%= form_for @article do |f| %> 
    <%= f.label :title%>
    <%= f.text_field :title, class: "form-control", placeholder: "Title", autofocus: true  %>
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", placeholder: "Description"  %>
    <%= f.submit %>
    <% end %>

    <%= render 'form' %>

	<%= link_to 'Cancel request, return to article list', articles_path %>
  </div>
</div>