<div class="row">
  <div class="twelve columns grey center">Selected article: Article #<%= @article.id %></div>
</div>

<div class="row">
  <div class="two columns grey center">
        <strong>Author:</strong><br /><%= link_to @article.user.username, user_path(@article.user.id) if @article.user %><br/><br/>
		Posted <%= time_ago_in_words(@article.created_at) %> ago<br /><br />
		Categories<br /><% if @article.categories.any? %>
		<%= render @article.categories %>
		<% else %>
		None
		<% end %>
  </div>
  <div class="ten columns grey center">
    <strong><%= @article.title %></strong><br /><hr><br />    
    <p><%= @article.description %></p><hr>
	<div class="center">
	Last revision: <%= time_ago_in_words(@article.updated_at) %> ago
	<% if logged_in? && (current_user == @article.user || current_user.admin?) %>
	 | <%= link_to 'Delete', article_path(@article.id), method: :delete, data: { confirm: "Are you sure you want to delete this article?"} %> | <%= link_to 'Edit', edit_article_path(@article.id) %>
	<% end %>
	</div>
  </div>
</div>

<div class="row">
  <div class="twelve column grey center">
    <%= link_to 'Back to Index', articles_path %>
  </div>
</div>
