<div class="row">
  <div class="twelve columns grey center"><h2>User list</h2></div>
</div>

<% @users.each do |x| %>

<div class="row">
  <div class="one columns grey center">
    <%= x.id %><br />
    <%= link_to 'Show', user_path(x.id) %><br />
	<%= link_to 'Delete', user_path(x.id), method: :delete, data: { confirm: "Are you sure you want to delete this user and all authored articles?" } if (logged_in? and current_user.admin?) %>
  </div>
  <div class="two columns grey center">
    <%= gravatar_for x %>
  </div>
  <div class="two columns grey center">
	<strong>Username:</strong><br />
	<%= x.username %>
  </div>
  <div class="three columns grey center">
    <strong>Errata:</strong>
  </div>
  <div class="two columns grey center">
    <strong>Article count:</strong><br />
	<%= x.articles.count %>
  </div>
  <div class="two columns grey center">
    <strong>Joined:</strong><br />
    <%= time_ago_in_words(x.created_at) %> ago
  </div>
</div>

<% end %>

<div class="row">
  <div class="twelve columns grey center">
    <%= will_paginate %>
  </div>
</div>
