<div class="row">
  <div class="twelve columns grey center">
    <h3>Viewing user account</h3>
  </div>
</div>

<div class="row">
  <div class="three columns grey center">
    <strong>Username:</strong>
	<p><%= @user.username %></p>
	<%= gravatar_for @user, size: 120 %>
  </div>
  <div class="nine columns grey center">
    <strong>Authored Articles:</strong><br />
	<div class="row">
		<div class="two columns center">
		</div>
		<div class="six columns center">
			<strong>Title</strong>
		</div>
		<div class="six columns center">
			<strong>Description</strong>
		</div>
	</div>
	<hr>
	<hr>
	<% @user_articles.each do |x| %>
	<div class="row">
		<div class="two columns center">
			<%= link_to 'Show', article_path(x.id) %>
		</div>
		<div class="six columns center">
			<%= x.title %>
		</div>
		<div class="six columns center">
			<%= x.description %>
		</div>
	</div>
	<hr>
	<% end %>
	<div class="row">
		<div class="twelve columns center">
		<%= will_paginate @user_articles %>
		</div>
	</div>
  </div>
</div>

