<% @articles.each do |x| %>

<div class="row">
  <div class="four columns grey center">
        <strong>Author:</strong><br /><%= x.user.username if x.user %><br/><br/>Posted <%= time_ago_in_words(x.created_at) %> ago
  </div>
  <div class="eight columns grey center">
    <strong><%= x.title %></strong><br /><hr><br />    
    <p><%= truncate(x.description, :length => 190) %></p><hr>
	<div class="right"><%= link_to 'View', article_path(x.id) %></div>
  </div>
</div>

<% end %>

<div class="row">
  <div class="twelve columns grey center">
    <%= will_paginate @articles %>
  </div>
</div>
