<div class="row">
  <div class="twelve columns grey center">
    <h1>Alpha-blog</h1>
  </div>
</div>

<div class="row">
  <div class="three columns grey center">
    <%= link_to 'Home', root_path %>
  </div>
  <div class="three columns grey center">
    <%= link_to 'About', about_path %>
  </div>
  <div class="three columns grey center">
    <%= link_to 'Index', articles_path %>
  </div>
  <div class="three columns grey center">
	<% if session[:user_id] %>
    <%= link_to @user.username, user_path(@user.id) %> | <%= link_to 'Logout', logout_path, method: :delete %>
	<% else %>
	<%= link_to 'Register', signup_path %> | <%= link_to 'Login', login_path %>
	<% end %>
  </div>
</div>
