<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "skeleton" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">

  <div class="row">
    <div class="twelve columns grey center"><h1>Alpha-blog</h1></div>
  </div>

  <div class="row">
    <div class="three columns grey center"><%= link_to 'Home', root_path %></div>
    <div class="three columns grey center"><%= link_to 'About', about_path %></div>
    <div class="three columns grey center"><%= link_to 'Archive', archive_path %></div>
    <div class="three columns grey center"><%= link_to 'Index', articles_path %></div>
  </div>

    <% flash.each do |name, msg| %>
      <ul>
        <li><%= msg %></li>
      </ul>
    <% end %>

    <%= yield %>


    <div class="row">
      <div class="twelve columns grey center">© 2019 Alpha-blog<br/><div class="text foot">Somebody came to me last year to have his portrait done.<br />He offered an extravagant price.<br />I refused him.<br />There was something in the shape of his fingers that I hated.<br />Website powered by Rails 5. Stylesheet framework provided by <a href="http://getskeleton.com/">Skeleton</a>.</div></div>
    </div>
  </div>
  </body>
</html>
